body {
  font: 36px Arial, sans-serif;
}

#container {
  color: black;
  background: lightgrey;
  width: 300px;
  height: 300px;
  border: 3px dotted grey;
}

#content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image-content {
    height: 100%;
    width: 100%;
}
